body {
    background-color: #001427;
  }
h3 {
    margin: 40px 0 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0 10px;
}
a {
    color: #42b983;
}
/* ELEMENT */
.el-row {
    margin-bottom: 20px;
}
.el-row.items {
    margin-bottom: 4px;
    &:last-child {
        margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
    background-color: #ffffff;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
}